<h2>Party Information</h2>

<strong>Host:</strong>
  <%= "#{current_host.first_name}, #{current_host.last_name}"%>
</p>
<p>
  <strong>Name:</strong>
  <%= party.name %>
</p>
<p>
  <strong>Location:</strong>
  <%= party.location%>
</p>
<p>
  <strong>Date:</strong>
  <%= party.date %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= party.start_time %>
</p>
<p>
  <strong>End Time:</strong>
  <%= party.end_time %>
</p>
<p>
  <strong>Description:</strong>
  <%= party.desc %>
</p>
<p>
  <strong>Rsvp Date:</strong>
  <%= party.rsvp_date%>
</p>

  <%= link_to "Delete", party, :method => 'delete', :confirm => "Are you sure?", :title => "Delete #{party.name}" %>


